* {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
nav a {
    font-family: "Almarai", sans-serif;
    font-weight: 700; /* Cambiar según el peso deseado */
    font-style: normal;
}

p {
    font-family: "Almarai", sans-serif;
    font-weight: 400; /* Cambiar según el peso deseado */
    font-style: normal;
}


/* CSS para pantallas de tamaño pequeño (smartphones y tablets) */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header a {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        color: black;
    }

    h1 {
        margin-left: 0;
        text-align: center;
    }

    nav {
        width: 100%;
        position: relative;
        text-align: center; /* Centra el contenido del menú */
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente del menú */
    }

    nav ul {
        width: auto; /* Ancho automático para adaptarse al contenido */
        display: block; /* Cambia el tipo de visualización para mostrar los elementos en forma vertical */
        margin: 0 auto; /* Centra la lista de elementos */
        padding: 0; /* Elimina el rellado para centrar */
    }

    nav li {
        display: block; /* Cambia el tipo de visualización de los elementos de lista */
        margin: 10px 0; /* Añade espacio entre los elementos de lista */
    }

    .C p {
        width: 100%;
        float: none;
        margin-right: 0;
        text-align: center;
    }

    .C h2 {
        color: hsl(120, 40%, 25%); /* Mantiene el mismo color del h2 en ordenadores */
    }

    .icon-container {
        text-align: center;
        margin-top: 20px;
    }

    .icon-container i {
        font-size: 3rem; /* Tamaño más grande para iconos en dispositivos móviles */
        display: inline-block;
        margin: 0 15px;
    }

    /* Evitar cambio de color al hacer clic en los iconos */
    .icon-container i,
    .icon-container a:visited,
    .icon-container a:active {
        color: black; /* Establece el color de los iconos y enlaces a negro */
        overflow:hidden;
    }

}


/* CSS para pantallas de tamaño mediano (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    nav ul {
        text-align: center; /* Centra los elementos del menú */
    }

    nav li {
        display: inline-block; /* Muestra los elementos de lista en línea */
        margin: 0 10px; /* Añade un margen entre los elementos de lista */
    }
}


/* CSS para pantallas de tamaño grande (ordenadores y portátiles) */
@media screen and (min-width: 769px) {
    body {
        box-sizing: border-box;
        font-size: 16px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        flex-direction: row-reverse;
    } 

    header a {
        text-decoration: none;
        color:black;
    }

    header a:hover {
        color:hsl(120, 40%, 25%);
    }

    h1 {
        margin-right: auto;
        margin-left: 220px;
        margin-top: auto;
        font-size: 2.2rem;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: inline-block;
        margin-right: 10px;
        font-size: 1.2rem;
        padding: 5px;
    }

    nav {
        margin-right: 220px;
        margin-left: 0px; 
        margin-top: -15px;
    }
    li a {
        text-decoration: none;
        color:black;
    }

    li a:hover {
        color:hsl(120, 40%, 25%);
        text-decoration:overline;
    }

    .C {
        max-width: 970px;
        margin: 0 auto;
        padding: 0 2%;
    }

    .C h2 {
        font-size: 1.9rem;
        color:hsl(120, 40%, 25%);
    }

    .C p {
        width: 50%;
        float: left;
        margin-right: 20px;
        line-height: 1.8rem;
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .icon-container {
        text-align: left;
        margin-top: 10px;
        clear: both;
    }

    .icon-container i {
        font-size: 2.5rem;
        display: inline-block;
        margin: 0 18px;
        overflow:hidden;
    }

    .icon-container a:visited {
        color: inherit;
    }
}