body {
    box-sizing: border-box;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
}

h1 {
    margin-right: auto;
    margin-left: 220px;
    margin-top: auto;
    font-size: 2.2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2rem;
}

nav {
    margin-right: 220px;
    margin-left: 0px; 
    margin-top: -15px;
}
li a {
    text-decoration: none;
    color:black;
}

li a:hover {
    color:hsl(120, 40%, 25%);
    font-weight: bolder;
}


.AM {
    max-width: 970px; /* Limitamos el ancho máximo del contenido */
    margin: 0 auto; /* Centramos el contenido horizontalmente */
}

.AM h2 {
    font-size: 1.9rem;
    color:hsl(120, 40%, 25%);
}

.AM p {
    width: 50%; /* Establecemos el ancho del párrafo al 50% */
    float: left; /* Flotamos el párrafo a la izquierda */
    margin-right: 20px; /* Agregamos un margen a la derecha para separar el párrafo de la imagen */
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin-top: 0;
}

.AM img {
    width: 37%; /* Establecemos el ancho de la imagen al 40% */
    float: right; /* Flotamos la imagen a la derecha */
    height: 30rem;
    margin-top: -3rem;
}

.P {
    clear: both; /* Limpiamos ambos lados de los elementos flotantes */
    margin-top: 20px; /* Agregamos un margen superior para separar el elemento .P de los elementos flotantes */
    max-width: 970px; /* Limitamos el ancho máximo del contenido */
    margin: 0 auto;
 }

 .P p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin-top: 0;
 }

 .P h2 {
    font-size: 1.9rem;
    color:hsl(120, 40%, 25%);
}

 .hidden-image {
    opacity: 0; /* La imagen estará inicialmente oculta */
    transition: opacity 0.5s ease; /* Transición suave de la opacidad */
    height: 0%;
    width: 0%;
  }
  
 .content.open .hidden-image {
    opacity: 1; /* La imagen se mostrará cuando el contenido esté abierto */
    height: 15rem;
    width: 30%;
  }

  /* .P img {
    /* width: 30%;
    height: 15rem;
  } */